﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Customer Management Tool</title>
    <meta name="author" content="Dawid Czerwiński">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheets -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="~/Content//blue.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="~/Content/img/cg_logo_icon.png">
</head>

<body>
    <!-- Scripts -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Easing JS -->
    <script src="~/Scripts/easing.js"></script>
    <!-- Vue JS -->
    <script src="~/Scripts/vue.min.js"></script>
    <script src="https://rawgit.com/ratiw/vuetable-2/develop/dist/vuetable-2.js"></script>
    <!-- Custom JS -->
    <script src="~/Scripts/custom.js"></script>

    <div id="app">
        <div class="fixedbar">
            <div class="container" id="container-bg">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo">
                            <div class="pull-left">
                                <a href="index.html">
                                    <img src="~/Content/img/cg_logo.png" />
                                </a>
                            </div>
                        </div>
                        <div class="app-title">
                            <h2>Customer Management Tool</h2>
                        </div>
                        <div class="fixedbar-deco pull-right"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="container">
                <div class="side-bar">
                    <div class="padd sidebar">
                        <div class="widget">
                            <div class="menu-list">
                                <h3><i class="fas fa-address-book"></i></h3>
                                <ul>
                                    <li><a href="/Customers/Index"><i class="fas fa-users" id="menu-list-first-icon"></i>CUSTOMERS</a></li>
                                    <li><a href="/Customers/Index"><i class="fas fa-calendar" id="menu-list-second-icon"></i>LOREM</a></li>
                                    <li><a href="/Customers/Index"><i class="fas fa-archive" id="menu-list-third-icon"></i>IPSUM</a></li>
                                    <li><a href="/Customers/Index"><i class="fas fa-cogs" id="menu-list-fourth-icon"></i>DOLOR</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="side-bar-icon">
                    </div>
                    <div class="menu-list-toggle" id="menu-list-toggle-max"><i class="fas fa-angle-double-left"> </i></div>
                </div>
                <div class="side-bar-min">
                    <div class="padd sidebar">
                        <div class="widget">
                            <div class="menu-list">
                                <h3><i class="fas fa-address-book"></i></h3>
                                <ul>
                                    <li><a href="/Customers/Index"><i class="fas fa-users" id="menu-list-first-icon"></i></a></li>
                                    <li><a href="/Customers/Index"><i class="fas fa-calendar" id="menu-list-second-icon"></i></a></li>
                                    <li><a href="/Customers/Index"><i class="fas fa-archive" id="menu-list-third-icon"></i></a></li>
                                    <li><a href="/Customers/Index"><i class="fas fa-cogs" id="menu-list-fourth-icon"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="menu-list-toggle" id="menu-list-toggle-min"><i class="fas fa-angle-double-right"> </i></div>
                </div>
                <div class="main-area main-area-min">
                    <!-- Main Content Area -->
                    <div class="whity">
                        <!-- Main Content Starts Here -->
                        <!-- Content should be encloased inside div with the class "posts" -->
                        <div class="posts">
                            <!-- Each entry should be enclosed inside div with the class "entry" -->
                            <div class="entry">
                                <div class="padd">
                                    @(RenderBody ())
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Copyright information -->
                    <div class="fpadd pull-right">Copyright &copy; 2018 - <a href="#">Capgemini</a> / <a href="#">Disclaimer</a> / <a href="#">Privacy Policy</a></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </footer>

</body>
</html>