﻿
<div class="modal fade" tabindex="-1" id="add-customer-modal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="closeCustomerModal()">
                    ×
                </button>
                <h4 class="modal-title">Add Customer</h4>
            </div>
            <div class="modal-body">
                <form id="add-customer-form" action="/Customers/SaveCustomer" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Name" id="inputName" name="inputName" required onfocusout="validateName()" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Surname" id="inputSurname" name="inputSurname" required onfocusout="validateSurname()" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" type="email" placeholder="Email" id="inputEmail" name="inputEmail" required onfocusout="validateEmail()" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" type="number" placeholder="Telephone Number" id="inputTelephone" name="inputTelephone" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Street" id="inputStreet" name="inputStreet" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input class="form-control" type="number" placeholder="House Number" id="inputHouseNo" name="inputHouseNo" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input class="form-control" type="number" placeholder="Flat Number" id="inputFlatNo" name="inputFlatNo" />
                            </div>
                            <span id="modal-add-customer-house-flat-separator"> / </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="City" id="inputCity" name="inputCity" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Postal Code" id="inputPostalCode" name="inputPostalCode" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Region" id="inputRegion" name="inputRegion" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Country" id="inputCountry" name="inputCountry" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary button button4" id="add-customer-btn-modal" onclick="validateCustomerForm()">ADD</button>
            </div>
        </div>
    </div>
</div>  