﻿@using CapgeminiMVC.ViewModels
@model  CustomerListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>

<div class="entry-container">
    <div class="row">
        <div class="col-md-12">
            <div class="table-wrapper" id="content">
                <vuetable ref="vuetable"
                          api-url="http://capgeminicmt.azurewebsites.net/Customers/GetCustomers"
                          :fields="fields"
                          track-by="CustomerId"
                          class="customers-table table-striped">
                    <template slot="edit" scope="props">
                        <div class="custom-actions">
                            <button class="btn btn-primary" id="edit-customer-btn" @@click="editCustomer(props.rowData.CustomerId)">EDIT</button>
                        </div>
                    </template>
                    <template slot="delete" scope="props">
                        <div class="custom-actions">
                            <button class="btn btn-danger" id="remove-customer-btn" @@click="removeCustomer(props.rowData.CustomerId)">REMOVE</button>
                        </div>
                    </template>
                </vuetable>
            </div>
        </div>
    </div>
</div>
<div class="entry-controls">
    <div class="row">
        <div class="pull-right">
            <button class="btn btn-primary" id="add-customer-btn" onclick="addCustomer()">ADD CUSTOMER</button>
        </div>
    </div>
</div>

@(Html.Partial ( "_AddCustomerModal" ))
@(Html.Partial ( "_EditCustomerModal" ))

<script src="~/Scripts/customer.js"></script>