/* Blue Color */

a {
    color: rgb(0, 185, 232);
    text-decoration: none;
}

    a:hover, a:visited {
        color: rgb(0, 125, 183);
        text-decoration: none;
    }

.fixedbar {
    background: rgb(48, 48, 48);
}

    .fixedbar a img {
        height: 50px;
    }

.ddsubmenustyle, .ddsubmenustyle div {
    border: 1px solid #0060a6 !important;
}

    .ddsubmenustyle li a {
        background: #0072c6 !important;
        border-bottom: 1px solid #0060a6 !important;
    }

        .ddsubmenustyle li a:hover {
            background: #0060a6 !important;
        }

.mattblackmenu ul {
    background: #0072c6 !important;
}

.mattblackmenu li a {
    background: #0072c6 !important;
}

    .mattblackmenu li a:hover {
        background: #0060a6 !important;
    }

.main blockquote {
    background: url('../img/quote-blue.png') top left no-repeat;
}

.entry li i {
    color: #0072c6;
}

.posts .entry h2 {
    /*font-family: MarvinVisions;*/
    letter-spacing: 3.5px;
    background: rgb(48,48,48);
    text-align: center;
    vertical-align: bottom;
    padding: 10px !important;
}

.default-header hr {
    border-top: 5px solid #0072c6;
}

.service .service-item h3,
.features-item h4 {
    color: #0072c6;
}

.foot {
    background: rgb(48, 48, 48);
}

    .foot a, .foot a:visited {
        color: #c2e5ff;
    }

        .foot a:hover {
            color: #c2e5ff;
        }
