/* Fonts */
@font-face {
    font-family: 'MarvinVisions';
    src: url('../fonts/MarvinVisions-Bold.eot') format('embedded-opentype'), url('../fonts/MarvinVisions-Bold.woff') format('woff'), url('../fonts/MarvinVisions-Bold.woff2') format('woff2');
}

@import url(http://fonts.googleapis.com/css?family=Dosis:200,400,600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600);

/* Basic CSS */

body {
    font-family: Tahoma, Verdana, sans-serif;
    color: #555;
    font-size: 13px;
    line-height: 25px;
    background: rgb(60,60,60);
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', sans-serif;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    color: #888;
}

h5 {
    font-size: 20px;
    margin: 5px 0px;
    padding: 5px 0px;
}


img.pull-left {
    margin-right: 10px;
}

img.pull-right {
    margin-left: 10px;
}

img.alignleft {
    margin: 10px 8px 5px 0px;
    float: left;
}

img.alignright {
    margin: 10px 0px 5px 8px;
    float: right;
}

a:active, a:focus {
    border: none;
    outline: none;
}

a:-moz-any-link:focus {
    outline: none;
}

i {
    margin-right: 3px;
}

input, textarea {
    border-raidus: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
}

    textarea:focus, input:focus {
        box-shadow: none !important;
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        border-color: #aaa !important;
        outline: 0 !important;
    }

/* End Basic CSS */


/* Header */

.fixedbar {
    color: #fff;
    height: 7vh;
    position: relative;
    border-bottom: 3.5px solid rgba(30, 30, 30, 0.45);
}

.logo {
    padding: 10px 0px 10px 0px;
    margin-left: 1vw;
}

.app-title {
    padding: 0 0 0 18.5vw;
    vertical-align: middle;
}

    .app-title h2 {
        /* font-family: MarvinVisions !important; */
        color: white;
        letter-spacing: 1.25px;
        font-weight: bold;
        font-size: 27.5px;
    }


.fixedbar-deco {
    border: 3vh solid rgb(60,60,60);
    width: 36vw;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
}

    .fixedbar-deco:before {
        content: ' ';
        border-style: solid;
        border-width: 6vh;
        border-color: rgb(60, 60,60) transparent transparent transparent;
        width: 20vw;
        color: white;
        position: absolute;
        top: -3vh;
        right: 25vw;
    }
/* Main */

.main {
    height: 91vh;
    width: 100%;
}

.container {
    width: 100%;
    padding: 0px !important;
    display: block;
}

    .container > .row > .col-md-12 {
        padding: 0px;
    }

.row {
    margin: 0px;
}

.main-area {
    width: 85%;
    display: inline-block;
    height: 91vh;
}

.main-area-min {
    width: 95% !important;
}

.whity {
    background: rgb(51, 63, 79);
    height: 100%;
}

.posts {
    height: 100%;
}

.entry > .pad {
    height: 80vh;
}

/* Sidebar */

.side-bar {
    border-top: 5px solid rgba(30,30,30,0.15);
    width: 15%;
    height: 91vh;
    float: left;
    border-right: 3.5px solid rgb(48,48,48);
    display: none;
}

.side-bar-icon {
    /*margin: 1vw 3.75vw 1.5vw 3.75vw;*/
}

    .side-bar-icon img {
        margin: 0px 12.5%;
        width: 75%;
        opacity: 0.25;
    }

.sidebar {
    height: 52.5%;
    padding: 0vh 0px 90px 0px;
}

    .sidebar h3 {
        font-size: 4vh;
        height: 5vh;
        font-weight: 900;
        padding: 0 0 5px 0;
        margin: 1.85vh 0vh 6vh 0vh;
        letter-spacing: 3.5px;
        text-align: center;
        color: rgb(60,60,60);
        background-color: rgb(48,48,48);
    }

    .sidebar ul {
        list-style-type: none;
        margin: 0px 0px 0px 1.5vw;
        padding: 0px;
    }


    .sidebar li {
        text-align: left;
        vertical-align: middle;
        padding: 10px 2.5vw 10px 0px;
        margin-top: 8.25vh;
    }

    .sidebar a {
        font-weight: 600;
        /*color: rgb(0, 185, 232);*/
        color: white;
        letter-spacing: 1.5px;
        font-size: 0.85vw;
        vertical-align: middle;
    }

        .sidebar a:hover {
            color: white;
            text-decoration: underline;
        }

#content {
    height: 55vh;
}

.menu-list i {
    font-size: 1.5vw;
}

#menu-list-first-icon {
    margin-right: 2vw;
}

#menu-list-second-icon {
    margin-right: 2.7vw;
}

#menu-list-third-icon {
    margin-right: 2.4vw;
}

#menu-list-fourth-icon {
    margin-right: 2vw;
}

.menu-list-toggle {
    height: 12vh;
    font-size: 10vh;
    font-weight: 900;
    padding: 0 0 5px 0;
    margin: 10vh 0vh 2.5vh 0vh;
    letter-spacing: 3.5px;
    text-align: center;
    color: rgb(60,60,60);
    background-color: rgb(48,48,48);
    cursor: pointer;
}

    .menu-list-toggle :hover {
        color: white;
    }

.side-bar-min .sidebar {
    height: 64%
}

#menu-list-toggle-min {
    font-size: 6.5vh;
    height: 12vh;
}

#menu-list-toggle-max {
    font-size: 6.5vh;
    height: 12vh;
}

    #menu-list-toggle-max i {
        margin-top: 3vh;
    }

#menu-list-toggle-min i {
    margin-top: 3vh;
}

.side-bar-min {
    border-top: 5px solid rgba(30,30,30,0.15);
    width: 5%;
    height: 91vh;
    float: left;
    border-right: 3.5px solid rgb(48,48,48);
    display: block;
}

    .side-bar-min h3 i {
        font-size: 3.5vh;
        margin-left: 0.5vw;
    }

.side-bar h3 i {
    font-size: 3.5vh;
    margin-left: 0.5vw;
}

.side-bar .sidebar {
    height: 64%;
}


#menu-list-toggle-min i {
    margin: 3vh 0 0 0.5vw;
}

/* Form */
.form-horizontal .control-label {
    font-size: 13px;
    font-weight: normal;
}

/* Flex slider */

.flexslider {
    box-shadow: none !important;
    border: 0px solid #000 !important;
    border-radius: 0px !important;
    margin: 10px 0px !important;
}

.flex-caption {
    background: #000;
    color: #fff;
    padding: 6px 5px;
    margin-bottom: 0px;
}

.flexslider img {
    padding: 0px !important;
    border: 0px !important;
}

.flex-direction-nav a {
    width: 25px;
    height: 25px;
}

    .flex-direction-nav a:before {
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        border-radius: 100%;
        background: rgba(0,0,0,0.6);
        color: rgba(255,255,255,0.3);
        font-size: 12px;
    }

.flex-main .flexslider:hover .flex-next {
    right: 15px !important;
}

.flex-main .flexslider:hover .flex-prev {
    left: 15px;
}

/* Content */

.breadcrumb {
    border: 0px;
    padding: 0px !important;
    background: transparent !important;
}

.entry-container {
    width: 100%;
    color: black;
    background-color: rgb(242,242,242);
    height: 70vh;
}

.entry-controls {
    margin-top: 0.5vh;
    width: 100%;
    color: white;
    background-color: rgb(60, 60, 60);
    height: 5.5vh;
    border-bottom: 3.5px solid rgba(48, 48, 48, 0.45);
}

.entry {
    padding: 25px 7.5vw 25px 7.5vw;
    min-width: 955px !important;
}

    .entry.padd-zero {
        padding-bottom: 0 !important;
    }

    .entry li {
        padding: 3px 0px;
    }

        .entry li i {
            display: inline-block;
            margin-right: 3px;
        }

    .entry h3 {
        margin-bottom: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid #ddd;
    }

.blog .entry {
    padding-bottom: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.posts .entry h2 {
    font-size: 20px;
    padding: 5px 15px;
    color: white;
    margin-bottom: 0.5vh
}

.posts h2 a, .posts h2 a:visited, .posts h2 a:hover {
    color: #fff;
    text-decoration: none;
}

.entry img {
    padding: 2px;
    border: 1px solid #aaa;
}

.meta {
    font-size: 12px;
    text-transform: uppercase;
}

.thumbnail img {
    padding: 0px;
    border: 0px;
}

.pager {
    margin: 20px 0px;
}

#add-customer-btn {
    vertical-align: middle;
    height: 3vh;
    margin: 1vh 3vw 1vh 3vw;
    width: 10vw;
    background-color: rgb(0, 125,183);
    padding: 4px 12px 8px 12px;
}

.modal {
    top: 25%;
    left: 15%;
}

#add-customer-btn-modal {
    width: 10vw;
}

#inputFlatNo {
    position: relative;
}

#modal-add-customer-house-flat-separator {
    position: absolute;
    top: 0px;
    left: -5px;
    font-size: 17.5px;
    font-weight: bold;
    color: #ccc;
}

.customers-table {
    width: 100%
}

    .customers-table th {
        text-transform: uppercase;
        font-size: 7.5px;
        background-color: rgb(60, 60, 60);
        color: white;
        text-align: center;
    }

    .customers-table td {
        text-align: center;
    }

    .customers-table .tbody > tr:nth-of-type(odd) {
        background-color: rgba(245, 245, 245, 0.65);
    }

    .customers-table .tbody > tr:nth-of-type(even) {
        background-color: rgba(225, 225, 225, 0.65);
    }

.entry-container .col-md-12 {
    padding: 0px;
}

.modal-dialog {
    background-color: #ddd;
    color: black;
}

.modal-content {
    border: 0px solid white !important;
}

.modal-header {
    background-color: rgb(60,60,60);
    color: white;
    text-align: center;
}

    .modal-header h4 {
        color: white !important;
        letter-spacing: 2.5px;
    }

.close {
    color: white;
    opacity: 1;
}

    .close :hover {
        color: white;
    }


/* Footer */
.foot {
    color: #fff;
    font-size: 13px;
    line-height: 16px;
    height: 20%;
}

    .foot .container {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    .foot h3 {
        color: #fff;
        font-size: 22px;
        margin: 5px 0px;
        padding-bottom: 10px;
    }

    .foot a:hover {
        text-decoration: none;
    }

    .foot ul {
        margin: 0px;
        margin-left: -20px;
    }

        .foot ul li {
            padding: 9px 0px;
        }

    .foot blockquote {
        border-left: 0px;
        background: url('../img/foot-quote.png') top left no-repeat;
    }

        .foot blockquote p, .foot blockquote small {
            color: #fff;
            font-size: 12px;
            padding-left: 30px;
            line-height: 23px;
        }

    .foot blockquote {
        margin: 0px;
        padding: 5px 20px;
    }

    .foot h3 {
        border-bottom: 1px solid #eee;
    }

    .foot ul li {
        border-bottom: 1px dotted #ccc;
    }

footer {
    font-size: 10px;
    line-height: 22px;
    background: rgb(30, 30, 30);
    height: 2vh;
    color: white;
}

.attr {
    text-align: right;
}

.fpadd {
    padding: 0px 10px 0px 10px;
}

/* Responsive */

/* Mobile phones */
@media (max-width: 480px) {
    img.pull-left, img.pull-right {
        float: none;
        display: block;
        width: auto;
        padding: 0px;
        margin: 0px;
    }
}

/* Tablets */
@media (max-width: 767px) {
    .tp-banner a.btn {
        padding: 5px 7px;
        font-size: 10px;
    }

    .features-item {
        max-width: 380px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .attr {
        text-align: left;
    }

    .sharepanel {
        text-align: center;
    }

    .matter {
        display: none;
    }

    .padd-f, .padd-m, .padd-l {
        padding: 10px;
        margin: 0px;
    }

    .navi ul {
        display: none;
    }

    .navis select {
        display: inline-block;
    }

    select {
        width: 100%;
    }

    .foot .padd {
        padding: 10px 20px;
    }

    .staff {
        text-align: center;
    }
}

/* Desktop */
@media (min-width: 768px) and (max-width: 991px) {
    .foot .padd {
        padding: 5px 20px;
    }

    .form-horizontal .control-label {
        text-align: left;
    }
}

@media (max-width: 979px) {
}
